@mixin standard-field {
  line-height: 1.3;
  margin-bottom: 15px;
  min-height: $standard-field-height;
  position: relative;

  h2 {
    font-size: $large;
  }

  > label, > .spacer {
    display: inline-block;
    margin-right: $standard-field-margin;
    width: $narrow-label;
  }

  >label, span, .button {
    vertical-align: middle;
  }

  a {
    color: $black;
    font-weight: bold;
    text-decoration: underline;
  }

  p.note {
    font-size: $small;
  }
}

@mixin button($bgcolour: $button-bg-normal, $fgcolour: white) {
  border: none;
  display: inline-block;
  margin-left: $button-separation;
  text-decoration: none !important;
  vertical-align: bottom;

  > * {
    background: $bgcolour;
    border: none;
    color: $fgcolour;
    display: table-cell;
    font-size: $button-text-size;
    font-weight: normal;
    line-height: 1;
    padding: $button-vertical-padding 10px;
    text-align: center;
    text-decoration: none !important;
    vertical-align: middle;
    white-space: nowrap;

    /*
      This was in the GDS stylesheet but is hideous, doesn't work properly, kills hover states, and its
       merits are dubious to say the least. Do we really want hit areas bigger than the buttons?
       If it turns out we do, I will perform some magic with the enclosing .button element to achieve the same result

    // making the click target bigger than the button
    // (and fill the space made when the button moves)
    &:before {
      content: "";
      height: 110%;
      width: 100%;
      display: block;
      background: transparent;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:active:before {
      top: -10%;
      height: 120%;
    }*/
  }

  &:focus > *,
  > *:hover,
  > *:focus,
  &.fake-hover > * {
    background-color: darken($bgcolour, $button-darken-amount);
    cursor: pointer;
  }

  .todayButton {
    padding-left: 1px;
    padding-right: 1px;
    width: 55px; // mitigates reflow at larger text sizes
  }
}

// COMPONENTS

.constraint {
  margin: 0 auto;
  padding: 0 $squeezed-page-emergency-padding;
  position: relative;
  max-width: $page-width;
}

.panel {
  background: bottom left no-repeat $panel-bg-colour;
  border-right: $horizontal-rhythm solid $viewport-bg;
  color: white;
  display: table-cell;
  padding: 0 $panel-padding-horizontal $panel-padding-vertical;
  margin-bottom: $vertical-rhythm;
  width: $panel-width;

  &.full {
    background-color: $panel-bg-colour-full;
  }

  .topper {
    background: $topper-bg-colour;
    color: $black;
    margin: 0 (-$panel-padding-horizontal) $panel-padding-vertical;
    padding: $topper-padding-vertical $panel-padding-horizontal;
  }

  h2 {
    font-size: $super-large;
    letter-spacing: $bold-unsquish;
    margin-bottom: 20px;
    text-align: center;
  }
}

.calendar-button {
  background: url($calendar-icon);
  border: none;
  display: inline-block;
  height: 23px;
  margin-left: 4px;
  vertical-align: middle;
  width: 23px;

  &:focus {
    background-image: url($calendar-icon-dark);
  }
}

.controls {
  max-height: 38px;
  position: absolute;
  right: $squeezed-page-emergency-padding;
  top: 13px;

  #user {
    color: white;
    display: inline-block;
    font-size: $small;
    float: left;
    margin-left: $button-group-separation;
    padding: ($button-vertical-padding + 1px) 0;

    strong {
      font-weight: bold;
    }
  }
  
  form, ul, li {
    float: left;
  }
  
  .action {
    @extend .button;
    float: left;

    &.default {
      margin-left: $button-group-separation;
      margin-top: -6px;
      position: relative;
      top: 3px;

      > * {
        font-size: $large;
        padding: 8px 12px;
      }
    }
  }
}

.dropdown {
  display: inline-block !important;
  margin-left: $button-group-separation;
  width: $admin-dropdown-width;

  .toggler {
    background-color: $black;
    color: white;
    display: block;

    .arrow {
      background: url($white-arrow-sprite-vertical) no-repeat bottom right;
      display: inline-block;
      height: 9px;
      margin-left: 18px;
      padding: 0;
      width: 10px;
    }

    a {
      background: $button-bg-normal;
      display: block;
      padding: $button-vertical-padding 0;
    }
  }

  li + li {
    @extend .a11y;

    // put behind toggler - rendering tiny sliver in FF
    position: relative;
    top: -1px;
    z-index: -1;
  }

  &.open, &:hover, &:focus {
    li + li {
      @extend .remove-a11y;
      display: block;
      top: 0;
      z-index: 1;
    }

    .toggler .arrow {
      background-position: top right;
    }
  }

  &:hover, &:focus {
    cursor: pointer;
  }

  li {
    color: white;
    display: block;
    float: none;
    width: $admin-dropdown-width;

    > * {
      padding: 5px;
    }

    .subaction {
      @include button(white, $black);

      border: 1px solid $black;
      border-top-width: 0;
      display: block;
      float: none;
      margin: 0;
      padding: 0;
      width: $admin-dropdown-width;

      > * {
        padding-left: 0;
        padding-right: 0;
        width: $admin-dropdown-width;
      }
    }
  }

  li, .toggler {
    margin-left: 0;
  }
}

.global { // for top of page messages
  border: 1px solid $black;
  display: inline-block;
  margin-bottom: $vertical-rhythm;
  padding: $vertical-rhythm $horizontal-rhythm;
}

.selector {
  li {
    border-right: 1px solid $input-border-grey;
    display: inline-block;
    padding: 2px $horizontal-rhythm;

    &.selected {
      font-weight: bold;
    }

    a {
      color: $link-blue;
      display: block;
    }

    &:last-child {
      border-right: none;
      padding-right: 0;
    }
  }
}

.results-table {
  clear: both;
  width: 100%;
  font-size: $large;
    
  #hrn-column {
    width: 160px;
  }
  #date-column {
    width: 90px;
  }
  #unit-column {
    width: 150px;
  }
  #topic-column {
    width: 185px;
  }
  #status-column {
    width: 95px;
  }
  #task-column {
    width: 95px;
  }
  #details-column {
    width: 210px;
  }

  .hrn-results-block {
    display: block;
    margin: 6px 0 -6px;
  }
  
  .workflow-time {
    color: $mid-grey;
    font-size: $normal;
    margin-top: 3px;
    white-space: nowrap;
  }
  
  .results-td-block div {
      display: block;
      
      label, .spacer {
        display: inline-block;
        width: 110px;
      }
  }
    
  th, td {
    border: 1px solid;
    padding: $results-table-vertical-padding $results-table-horizontal-padding;

    a {
      margin: (-$results-table-vertical-padding) (-$results-table-horizontal-padding);
      padding: $results-table-vertical-padding $results-table-horizontal-padding;
      text-decoration: underline;
    }
  }

  th {
    background: $dark-blue;
    border-color: white;
    color: white;
    text-align: left;

    a, button {
      color: inherit;
      display: block;
    }

    &.sorted {
      background-color: $darker-blue;
      padding-top: 0;
      padding-bottom: 0; 

      button, a {
        padding-right: 31px;
        position: relative;
        
        border: none;
        background-color: $darker-blue;
        color: $main-bg-colour;
        text-decoration: underline;

        &:after {
          background: url($white-arrow-sprite-vertical) bottom left no-repeat;
          content: ' ';
          height: 9px;
          display: block;
          position: absolute;
          right: 15px;
          top: 15px;
          width: 10px;
        }
      }
      button {
        padding-top: 0;
        padding-bottom: 0;   
        &:after {
          right: 5px;
          top: 8px;
        }
      }
      &.reverse :after {
         background-position: top left;
      }
    }
  }

  td {
    border-color: $results-table-border;
    color: $black;

    a {
      color: $link-blue;
    }
  }

  tr.even td {
    background-color: $table-stripe-bg;
  }
}

.revealer {
  color: $link-blue;
  cursor: pointer;
  display: inline-block;
  font-size: $large;
  font-weight: bold;
  margin-bottom: $standard-field-margin;
  height: 25px;
  padding-right: 35px;
  position: relative;
  text-decoration: underline;
  vertical-align: middle;

  .plusMinus {
    background: top right no-repeat url($plus-and-minus);
    border: none;
    display: inline-block;
    height: 25px;
    margin-left: 12px;
    text-indent: -1000px;
    vertical-align: middle;
    width: 25px;

    &:focus {
      background-color: $dark-blue;
    }
  }

  &.open .plusMinus {
    background-position: top left;
  }
}

.loading {
  background: black;
  color: white;
  left: 48%;
  position: fixed;
  top: 48%;
  padding: 2em;
  z-index: 100;
}

.hidden-by-js { // only to be added dynamically
  border-width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  width: 0;
  z-index: -1;
}

// plugin fixes
.chosen-drop {
  input {
    width:100% !important;
  }
}
