@import "variables";
  body {
    color: black !important;
    font-size: 16pt;
    width: 100%;
  }

  a {
    color: inherit !important;
    text-decoration: none !important;
  }

  .constraint {
    max-width: auto;
    min-width: auto;
    width: 100%;
  }

  #header {
    background: black;
    color: white;
  }

  #col1 {
    margin: 220px 0 0;
    width: 100% !important;
  }

  table , .case-table {
    clear: both;
    width: 100% !important;
  }

  .panel {
    background: white !important;
    border: 1px solid black;
    margin: 0 10mm 10mm 0 !important;
    width: 95mm !important;

    &.wide, &.medium, &.huge {
      width: 210mm !important;
    }
  }

  #panels {
    left: 0;
    position: absolute;
    top: $header-height + $vertical-rhythm;

    #deadline, #overview, h2 {
      background: white;
      color: black;
    }
  }

  #header .controls,
  #minutes_history,
  #doc_list_title,
  #document-form,
  #footer,
  .revealer,
  #selector-panel,
  form[name=allocation] {
    display: none;
  }

  #minutes_history.printme {
    display: block;
  }

  .results-table th, .case-table th {
    background: black !important;
    color: white !important;
  }

  body.printminutes {

    #outer > *,
    #col1 > *,
    #panels,
    #add_minute {
      display:none;
    }

    #col1 {
      margin-top: 0;

      & {
        display: block;
      }

      .button {
        display: none;
      }
    }

    #breadcrumb, #minutes_history {
      display: block;

      ul {
        max-height: none;
      }
    }
  }




