extends ./layout.jade

block content
    #header
        .constraint
            #intro
                h1 DEPMU Dashboard
    ul
        each centre in list
            if centre.is_full
                li(id=centre.slug).panel.full
                    include partials/centre_panel.jade
            else
                li(id=centre.slug).panel
                    include partials/centre_panel.jade
