extends ./layout.jade

block content
    #header
        .constraint
            #intro
                h1 DEPMU Dashboard
    ul
        each centre in list
            include partials/centre_panel.jade
