doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',src='/socket.io/socket.io.js')
    script(type='text/javascript',src='http://code.jquery.com/jquery-1.11.1.js')
    script.
        $(function(){
            var socket = io();
            socket.on("centre-update",function(data){
                console.log(data);
            });
        })
  body
    block content
