doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript',src='/socket.io/socket.io.js')
    script(type='text/javascript',src='http://code.jquery.com/jquery-1.11.1.js')
    script(type='text/javascript',src='/javascripts/jade_runtime.js')
    script(type='text/javascript',src='http://momentjs.com/downloads/moment.min.js')
    script(type='text/javascript',src='/javascripts/templates.js')
    script(type='text/javascript',src='/javascripts/updates.js')

  body
    block content
