var config = {
    project_path: '/Volumes/LocalDataHD/cjo20/Documents/chris/dev/DTRemoval/', // chris
    db: {
        name: 'dt_removal',
        user: 'root',
        password: 'root'
    }
};

exports.config = config;
