var env       = process.env.NODE_ENV || "development";
var config    = require(process.cwd() + '/config/config.json')[env];
var config = {
    project_path: process.cwd(), // jp
    db: {
        name: config.database,
        user: config.username,
        password: config.password
    }
};

exports.config = config;
