var get_from_env = ['DB_USER','DB_PASSWORD','DB_HOST','DB_NAME'];
var cur_env       = process.env.NODE_ENV || "development";
var config = {};
for(v in get_from_env) {
    var key = get_from_env[v];
    if(process.env[key]){
        console.log("setting " + key + " to " + process.env[key]);
        config[key] = process.env[key];
    } else {
        console.log("No " + key + ". Jumping out.");
        var config    = require(process.cwd() + '/config/config.json')[cur_env];
        break;
    }
}

CONFIG = {
    project_path: process.cwd(), // jp
    db: {
        name: config.DB_NAME,
        user: config.DB_USER,
        password: config.DB_PASSWORD
    }
};
console.log(CONFIG);

exports.config = CONFIG;

// even though the CONFIG object is global, we return it here for use on the command line
