doctype html
html(lang='en-gb')
    head
        meta(http-equiv="refresh", content="2")
        title #{pageTitle}
        link(rel='stylesheet', href='/static/css/main.css')
    body
        block content

        code.
            #{body}
