extends ./base.jade

block content
    h1 Dashboard
    ul
        each item in list
            div 
                h2 #{item.name}
                div Available beds (male): #{item.current_beds_male}
                div Available beds (female): #{item.current_beds_female}
                div Out of commission: #{item.current_beds_ooc}
    
